<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="$safeprojectname$.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <$safeprojectname$.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>477, 215</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>de-DE</value>
            </setting>
            <setting name="DarkThemeBackColor" serializeAs="String">
                <value>48, 25, 52</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PanzerZerstörtText" serializeAs="String">
                <value />
            </setting>
            <setting name="FlugzeugZerstörtText" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkThemeTextBoxLine" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="DarkThemeForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DarkThemeButtonBorderColor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="WindowSizeSettings" serializeAs="String">
                <value>678, 816</value>
            </setting>
        </$safeprojectname$.Properties.Settings>
    </userSettings>
</configuration>